@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Dots&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.font-zen-dots {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-light: #eff6ff;

  --color-brand: #2563eb;
  --color-brand-light: #3b82f6;
  --color-brand-dark: #1e40af;

  --color-accant: #f59e0b;
  --color-accant-light: #fbbf24;
  --color-accant-dark: #b45309;

  --color-natural: #374151;
  --color-natural-light: #9ca3af;
  --color-natural-dark: #111827;
}